{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block head_title %}Bienvenidos | {% endblock %}
<style xmlns="http://www.w3.org/1999/html">
{% block style %}
.jumbotron {
    background-color: #15397d !important;
    color: white !important;
}
.fa-5x{
    font-size:6em !important;
}

{% endblock %}
</style>

{% block jumbotron %}

{% if request.user.is_staff %}
<table class='table'>
{% for intance in queryset %}
<tr><td>{{ intance }}</td><td>{{ intance.nombre }}</td><td>{{ intance.timestamp }}</td></tr><br/>
{% endfor %}
</table>
{% else %}



<div class="container ">
<div class="jumbotron">
<div class='row'>
  <div class='col-sm-6'>
      <!--<div class="jumbotron">-->
        <h1>PROBAR DJANGO 1.10</h1>
        <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
        <p>To see the difference between static and fixed top navbars, just scroll.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button"> UNIRTE &raquo;</a>
        </p>
</div>
<div class='col-sm-6'><iframe width="560" height="315" src="https://www.youtube.com/embed/4N3dJ9P5Hso" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
</div>
</div>
</div>
{% endif %}
{% endblock %}

{{ titulo }}<br/>
{{ request.user }}
<hr/>
<br/>

{% block content%}
{% if not request.user.is_staff %}
<div class="row">
  <div class="col-sm-3 col-xs-12 pull-right">
    {% if not user.is_authenticated%}
    <p class='lead text-aling-center'>Suscribirte</p>
    <form method="POST" action="">{% csrf_token %}
    {{ el_form|crispy }}
    <input class="btn btn-primary" type="submit" value='Enviar' />
    </form>
    {% else %}
    <p class='lead text-align-center'>{{ titulo }}</br></br></br> <i class="far fa-hand-peace fa-5x" aria-hidden="true"></i></p>
    {% endif %}
  </div>


<div class='col-sm-3'>
    <p class='lead text-align-center'>Creado con Django &amp; Bootstrap</p><img src='{% static "img/roman.jpg"%}'/>
</div>
<div class='col-sm-3'>
    <p class='lead text-align-center'>Con mucho amor</br></br><i class="far fa-futbol fa-spin fa-5x" style="color:blue"></i></p>
</div>
<div    class='col-sm-3'>
    <p  class='lead text-align-center'>Codigo abierto</br></br><i class="fab fa-reacteurope fa-pulse fa-5x fa-fw"></i></p>
</div>
</div>
<hr/>
{% endif %}
{% endblock  %}
