body {
  min-height: 2000px;
}

.navbar-static-top {
  margin-bottom: 19px;
}

.navbar-default {
    background-color: #15397e !important;
    border-color: #6c88b1 !important;

}

.navbar-default .navbar-brand{
    color:#FFF !important;
}
.navbar-default .navbar-brand:hover {
    color: #6c88b1 !important;
}
.navbar-default .navbar-nav>li>a {
    color: #35a3ab !important;
    background-color: #15397e !important;


}
.navbar-default .navbar-nav>li>a:hover {
    color: #faffbd !important;
}

